<div>
    <h2>Instructions:</h2>
    <ul>
        <li>Using the given mockup, styleguide, and events.json file, create an Angular application that displays top events and their respective information in a table.</li>
    </ul>
</div>

<div>
    <h2>Table Functionalities:</h2>
    <ul>
        <li>Order the data from highest to lowest number of news.</li>
        <li>Filter the table by ESG or General Risk Score.</li>
    </ul>
</div>

<div>
    <h2>Header:</h2>
    <ul>
        <li>In the header, create the route to the about section of the application.</li>
    </ul>
</div>


