*, *::before, *::after {
    box-sizing: border-box;
}




body {
    margin: 0;
    font-family: "RobotoDraft", "Roboto", "Helvetica Neue, Helvetica, Arial", sans-serif;
    display: block;
    height: 1000px;
    width: 100%;
}

